@media screen and (min-width: 500px) {
    h2 {
        font-size: 2.05em;
    }
    .city-form {
        font-size: 1em;
    }
    .city-input {
        width: 15em;
    }
    .daily-list {
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 641px) {
    .social-links li {
        margin-right: 15px;
    }
    #section-weather {
        min-height: 91vh;
    }
    #current-list {
        width: 95vw;
        margin: 0 auto;
    }
    .daily-list {
        padding-left: 7vw;
    }

    #section-weather {
        background-image: url('../img/bg-1-min.jpeg');
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 18px;
    }
    #current-list {
        width: 90vw;
        margin: 0 auto;
    }
    .daily-list {
        width: 80vw
    }
}

@media screen and (min-width: 1024px) {
    .current-summary {
        padding-bottom: 50px;
    }
    #current-list {
        width: 80vw;
        padding: 20px 0;
    }
    .daily-list {
        padding-top: 50px;
        width: 75vw;
    }
}

@media screen and (min-width: 1300px) {
    h2 {
        font-size: 2.45em;
    }
    .city-form {
        padding-bottom: 70px;
        font-size: 1.15em;
    }
    #current-list {
        width: 70vw;
    }
    .daily-list {
        width: 70vw
    }
    .icon-linkedin,
    .icon-github {
        height: 35px;
        width: 35px;
    }
}

@media screen and (min-width: 1700px) {
    .daily-list {
        width: 65vw
    }
}
